<!DOCTYPE html>
<html>
  <head> 
	<meta character = "utf-8">
	<title>Hepl Page</title>
  </head>
  <body>
    {{> header}}
  	<p>This page is for referrence purpose</p>

  	{{> footer}}
  </body>
  	}
</html>